{{ define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="cover_container">
    <header class="header">
        <div class="header_block">
            <a class="nav_link active biggy" aria-current="page" href="/"><h3 class="header_title">Newbinion</h3></a>
            <nav class="nav">
                <a class="nav_link active" aria-current="page" href="#">Здесь что-то будет</a>
                <a class="nav_link" href="/contacts/">Контакты</a>
                <a class="nav_link" href="/cutter">Сокращатель ссылок</a>
            </nav>
        </div>
    </header>
    {{ end }}